/* TAG SELECTORS */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%); /* dark cyan */
  color: hsl(227, 10%, 46%); /* dark grayish blue */
  font-size: 18px;
  overflow: hidden;

}

hr {

  border-color: hsl(227, 10%, 46%);
  border-style: solid none none;
  border-width: 1px;
  opacity: 0.3; /* low opacity value more "clarity" */

}



/* CLASS SELECTORS */

.top {
  position: absolute;
  left: 0;
  top: 0; /* with left and top set to 0, you leave the background starting from the top left corner */
  transform: translate(-30%, -50%); /* with translate, you leave the background 'hidden' (30% to the left
    & 50% to the top) */
    /* The good stuff ab translate is that the position is "fixed" when you zoom in or out in desktop */

}

.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(30%, 60%);
}

.card {
  background-color: white;
  position: absolute;
  border-radius: 18px;
  height: 406px;
  width: 360px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

.card-background {
  position: absolute;
  background-image: url('C:/Users/sport/Google Drive/Back Up - Act 13-06/Escritorio/Solidity/Web Development Proyects/Profile card component challenge/profile-card-component-main/images/bg-pattern-card.svg');
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 18px 18px 0 0;

}

.card-photoandname {
  position: relative;
  text-align: center;
  top: 100px;

}

.card-photoandname-image {

  border-radius: 50px;
  border: solid 5px white;

}

.card-numbers {

  display: flex;
  justify-content: space-around;
  margin-top: 115px; /* top doesn't work because this element is static. Use margin-top instead */

}

.stats {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  text-align: center;
}

.stats-desc {

  font-size: 13px;
  text-align: center;
  margin-top: -13px;
}

.victor {

  color: hsl(229, 23%, 23%);
  font-weight: 700;

}

.london {

  font-size: 15px;
}

@media only screen and (max-width: 375px) {

.top {
  transform: translate(-50%, -50%);
}

.bottom {
  transform: translate(50%, 50%);
}

}
